<!DOCTYPE html>
<html>
    <head>
        <title>Weather app</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>root name: {{name}}</p>
            <div float="none"><img src="/img/arrow.png"></div>

            <form>
                <input type="text" placeholder="warsaw">
                <input type="submit" value="get weather">
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>        
        {{!--  --}}
        <script src="/js/app.js"></script>
        {{>footer}}
    </body>

</html>
